Source: device-overostorm
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: device-overostorm
Architecture: all
Description: Root package for the Gumstix Overo Storm target
 Root package for the Gumstix Overo Storm target
Depends:
 board-overostorm,
 dtb-overostorm,
 bootscr-omap3,
 baseconfig-ptux,
 ptux-essential,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 firmware-libertas,
 iw,
 rfkill,
 wpasupplicant,
 usbutils,
 apt-transport-https,
 apt-source-ptux-device,
 ${misc:Depends}
